---
import type { Page } from "astro:content";

import Link from "./Link.astro";

type Props = Page;

const {
  page: {
    currentPage,
    lastPage,
    url: { prev, next },
  },
} = Astro.props;
---

<div class="space-y-2 pb-8 pt-6 md:space-y-5">
  <nav class="flex justify-between">
    {
      !prev && (
        <button class="cursor-auto disabled:opacity-50" disabled>
          上一页
        </button>
      )
    }
    {
      prev && (
        <Link href={prev} rel="prev">
          上一页
        </Link>
      )
    }
    <span>
      {currentPage} / {lastPage}
    </span>
    {
      !next && (
        <button class="cursor-auto disabled:opacity-50" disabled>
          下一页
        </button>
      )
    }
    {
      next && (
        <Link href={next} rel="next">
          下一页
        </Link>
      )
    }
  </nav>
</div>
