<section class="giscus mx-auto mt-10 w-full"></section>

<script
  client:visible
  src="https://giscus.app/client.js"
  data-repo="HadeAs/hadeas.github.io"
  data-repo-id="R_kgDOLD23CA"
  data-category="General"
  data-category-id="DIC_kwDOLD23CM4CeOrA"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="transparent_dark"
  data-lang="zh-CN"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
