---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<li class="custom-li">
  <a href={"#" + heading.slug} title={heading.text}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="sub-heading">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
<style is:global>
  .sub-heading {
    padding-left: 1em;
  }
  .custom-li {
    font-size: 14px;
    line-height: 1.5rem;
  }
  .custom-li a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .custom-li.visible > a {
    color: #111;
    font-weight: bold;
    transform: translate(5px);
  }
  .dark .custom-li a {
    color: #787878;
  }
  .dark .custom-li.visible > a {
    color: #ffffff;
  }
</style>
